name: MLflow CI - Retrain on Trigger

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  train:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}

        env:
          MLFLOW_TRACKING_URI: file:${{ github.workspace }}/mlruns

          steps:
            - name: Checkout repository
              uses: actions/checkout@v3

            - name: Set up Conda
              uses: conda-incubator/setup-miniconda@v2
              with:
                auto-update-conda: true
                activate-environment: ml-ci_env
                environment-file: MLProject/conda.yaml
                python-version: 3.12.7
            - name: Check environment
              run: |
                conda info
                conda list
            - name: Install dependencies
              run: |
                pip install -r MLProject/requirements.txt
            -name: Set MLflow tracking URI
             run: |
               echo "MLFLOW_TRACKING_URI=file://${{ github.workspace }}/mlruns" >> $GITHUB_ENV
            -name: Run MLflow project
             run: |
               mlflow run MLProject -P alpha=0.5 -P l1_ratio=0.1
            -name: Post Set Up 3.12.7
             run: |
               python --version
               pip show mlflow